.col{
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
}

.col-3 {
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
}

.col-6 {
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
}

.col-lg-8 {
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
}

.col-lg-4 {
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
}